/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
 
  ========================================================================== */

body{
	margin: 0 auto;
	width: 996px;
	background-color: #ffffff;
	background-image:url(../images/bgimage.jpg);
	background-repeat: no-repeat;
	background-position:top center;
}
nav ul{
	max-width: 100%;
	float: right;
	list-style: none;
	text-decoration: none;
	padding: 0;
	text-align: center;
}
nav li {
	display: inline; 
	text-align: center;
	color: #fff;
	background-color: #6f83ad;
	border: 1px solid #000;
	padding: 10px 20px;
	float: right;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	box-shadow: 0px 3px 5px #000;
}
nav li a{
	text-decoration: none;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	display: block;
	line-height: 30px;
}
nav li:hover{
	background-color: green;
}
nav li:active{
	background-color: #a34ea4;
}
nav li:focus{
	background-color: #a34ea4;
}
	
}
logo{
	float: left;	
}
.faqlower{
	margin-top: 20px;
	background-color: gray;
}
fieldset {
	box-shadow: 0px 3px 5px #000;
}
input{
	box-shadow: 0px 3px 5px #000;
}
	 
/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/